[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gargsharad
[access "refs/for/refs/*"]
	read = group user/gargsharad
	push = group user/gargsharad
	label-Code-Review = -2..+2 group user/gargsharad
	label-Verified = -1..+1 group user/gargsharad
	rebase = group user/gargsharad
	removeReviewer = group user/gargsharad
	submit = group user/gargsharad
[access "refs/heads/*"]
	read = group user/gargsharad
	create = group user/gargsharad
	push = +force group user/gargsharad
	pushMerge = group user/gargsharad
[access "refs/tags/*"]
	push = +force group user/gargsharad
	pushTag = group user/gargsharad
	pushSignedTag = group user/gargsharad
